#corp{
    background: no-repeat center url("plus/R2tex_Corp1024x1024.png"), linear-gradient(90deg, #6f0c9b , #cc7901);
    background-attachment: fixed;
    transition: background-size 2s ease-in-out;
}
.grid{
    margin:1% 1%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: 200px 200px;
}
.premier{
    grid-column: 1 / 2;
    grid-row: 1;
    margin: 5% 0%;
}
.deuxieme{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.troisieme{
    margin: 5% 0%;
    grid-column: 3 / 4;
    grid-row: 1;
}
.quatrieme{
    margin: 50% 0%;
    grid-column: 1 / 2;
    grid-row: 2;
}
.cinquieme{
    margin: 50% 0%;
    grid-column: 3 / 4;
    grid-row: 2;
    padding: 20% 0%;
}
.button{
    text-decoration: none;
}
.button div{
    color: white;
    border: 5px solid rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.250);
    font-size: 3vw;
    border-radius: 20%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 20% 0%;
}
#color{
    background-color:rgba(0, 0, 0, 0.25);
    font-size: 3vw;
}
h1{
    font-size: 3vw;
    margin: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.055);
}
